@model RoomType
@{
	Layout = "_Layout";
	ViewData["Title"] = "Delete RoomType";
}
<div class="d-flex pb-1" style="justify-content:space-between; align-items:center;">
    <h4 style="color:#dc3545;"><i class='bx bxs-door-open icon'></i> @ViewData["Title"]</h4>
    <hr />
    <ul class="breadcrumbs ps-0">
        <li><a href="/">Home</a></li>
        <li class="divider">/</li>
        <li><a href="/RoomType/Delete" class="active">Delete</a></li>
    </ul>
</div>
<hr class="mt-0" />
  <div class="form-container delete" data-aos="fade-in">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="RoomTypeName" class="control-label text-danger"></label>
                            <input asp-for="RoomTypeName" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="BasePrice" class="control-label text-danger"></label>
                            <input asp-for="BasePrice" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="Beds" class="control-label text-danger"></label>
                            <input asp-for="Beds" class="form-control" disabled />
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="MaxOccupancy" class="control-label text-danger"></label>
                            <input asp-for="MaxOccupancy" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="Amenities" class="control-label text-danger"></label>
                            <textarea asp-for="Amenities" class="form-control" disabled></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="Description" class="control-label text-danger"></label>
                            <textarea asp-for="Description" class="form-control" disabled></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <div class="form-check">
                                <label asp-for="Status" class="form-check-label"></label>
                                <input asp-for="Status" class="form-check-input" disabled />
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-12 mb-2">
                    <div class="form-group">
                        <label asp-for="RoomTypeImage" class="control-label text-danger"></label>
                        <input type="file" name="roomImage" name="photo" class="form-control" disabled/>
                    </div>
                </div>
                <img src="~/@Model.RoomTypeImage" alt="Room Type Image" class="rounded-3 img-fluid" />
            </div>
            <div class="col-12">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="RoomTypeId" />
                    <input type="submit" value="Confirm" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-warning">Cancel</a>
                </form>
            </div>
        </div>
</div>