@model RoomType
@{
    Layout = "_Layout";
    ViewData["Title"] = "Details Room Type";
}
<div class="d-flex pb-1" style="justify-content:space-between; align-items:center;">
    <h4 class="d-flex align-items-center" style="color: #8080f1;">
        <i class='bx fs-1 bxs-door-open icon'></i> @ViewData["Title"]</h4>
    <hr />
    <ul class="breadcrumbs ps-0">
        <li><a href="/">Home</a></li>
        <li class="divider">/</li>
        <li><a href="/RoomType/edit" class="active">details</a></li>
    </ul>
</div>
<hr class="mt-0" />
<div class="form-container" data-aos="fade-in">
    <div class="row">
        <div class="col-lg-7">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label asp-for="RoomTypeName" class="control-label"></label>
                        <input value="@Model.RoomTypeName" class="form-control" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label asp-for="BasePrice" class="control-label"></label>
                        <input asp-for="BasePrice" class="form-control" disabled />
                        <span asp-validation-for="BasePrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label asp-for="Beds" class="control-label"></label>
                        <input asp-for="Beds" class="form-control" disabled />
                        <span asp-validation-for="Beds" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label asp-for="MaxOccupancy" class="control-label"></label>
                        <input asp-for="MaxOccupancy" class="form-control" disabled />
                        <span asp-validation-for="MaxOccupancy" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label asp-for="Amenities" class="control-label"></label>
                        <textarea asp-for="Amenities" class="form-control" disabled></textarea>
                        <span asp-validation-for="Amenities" class="text-danger"></span>
                    </div>
                </div>
               
                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" disabled></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-4">
                        <div class="form-check">
                            <label asp-for="Status" class="form-check-label"></label>
                            <input asp-for="Status" class="form-check-input" disabled />
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="col-12">
                <div class="form-group mb-2">
                    <label asp-for="RoomTypeImage" class="control-label"></label>
                    <input type="file" asp-for="RoomTypeImage" name="photo" class="form-control" disabled />
                    <span asp-validation-for="RoomTypeImage" class="text-danger"></span>
                </div>
            </div>
            <img src="~/@Model.RoomTypeImage" alt="Room Type Image" class="rounded-3 img-fluid" />
        </div>
        <div class="col-12">
            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@Model.RoomTypeId" class="btn btn-success">Edit RoomType</a> |
                <a asp-action="index" class="btn btn-primary">Back to List</a> |
                <a asp-action="delete" asp-route-id="@Model.RoomTypeId" class="btn btn-danger">Delete RoomType</a>
            </div>
        </div>
    </div>
</div>