@model Rooms
@{
    ViewData["Title"] = "Details Room";
}

<div class="modal fade" id="detmodel_@Model.RoomId" tabindex="-1" aria-labelledby="@Model.RoomId" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="@Model.RoomId">@ViewData["Title"]</h5>
                <button type="button" class="ms-auto btn-modal-close" data-bs-dismiss="modal" aria-label="Close"><i class='bx bx-plus'></i></button>
            </div>
            <div class="modal-body">
                <div class="form-container p-0" data-aos="fade-in">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="RoomName" class="control-label"></label>
                                        <input asp-for="RoomName" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="RoomType" class="control-label"></label>
                                    <div class="input-group mb-3">
                                        <select asp-for="RoomTypeId" class="form-control form-select" asp-items="ViewBag.roomTypes" disabled>
                                            <option value="">-- Select RoomType --</option>
                                        </select>
                                        <a class="btn" style="background: #8080f1;color: #fff;"
                                           data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="New Roomtype"
                                           href="/roomtype"><i class="fa-solid fa-plus"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="RoomSize" class="control-label"></label>
                                        <input asp-for="RoomSize" class="form-control" disabled />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="Capacity" class="control-label"></label>
                                        <input asp-for="Capacity" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="PricePerNight" class="control-label"></label>
                                        <input asp-for="PricePerNight" class="form-control" disabled />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="Floor" class="control-label"></label>
                                        <input asp-for="Floor" class="form-control" disabled />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="Amenities" class="control-label"></label>
                                        <textarea asp-for="Amenities" class="form-control" disabled></textarea>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea asp-for="Description" class="form-control" disabled></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="Status" class="control-label"></label>
                                        <select asp-for="Status" class="form-control form-select" disabled>
                                            <option value="">-- Select Status --</option>
                                            <option value="Available">Available</option>
                                            <option value="Booked">Booked</option>
                                            <option value="Occupied">Occupied</option>
                                            <option value="Out of Service">Out of Service</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="col-12">
                                <div class="mb-2">
                                    <label asp-for="RoomImage" class="control-label"></label>
                                    <input type="file" asp-for="RoomImage" name="photo" id="photo" class="form-control" value="~/@Model.RoomImage" disabled />
                                </div>
                            </div>
                            @if (Model.RoomImage is null)
                            {
                                <img src="~/images/uploads.svg" id="imagePreview" alt="Room Type Image" class="rounded-3 img-fluid" />
                            }
                            else
                            {
                                <img src="~/@Model.RoomImage" id="imagePreview" alt="Room Type Image" class="rounded-3 img-fluid" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <a class="px-2 py-1 text-primary" data-bs-toggle="modal" href="#model_@Model.RoomId" data-bs-whatever role="button">
                        <i class="fa-solid fa-user-pen"></i>
                    </a> |
                    <a class="px-3 py-1 text-danger" data-bs-toggle="modal"
                       href="#delmodel_@Model.RoomId"
                       data-bs-whatever role="button">
                        <i class="fa-solid fa-trash"></i>
                    </a> |
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button> 
                </div>
            </div>
        </div>
    </div>
</div>