@model Customer
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Customer";
}

<div class="d-flex pb-1" style="justify-content:space-between; align-items:center;" data-aos="fade"
     data-aos-offset="200"
     data-aos-delay="50"
     data-aos-duration="500"
     data-aos-easing="ease-in-out">
    <h4 style="color: #8080f1;"><i class="fa-solid fa-user-tag"></i> @ViewData["Title"]</h4>
    <ul class="breadcrumbs ps-0">
        <li><a href="/">Home</a></li>
        <li class="divider">/</li>
        <li><a href="/home/Customer" class="active">Edit</a></li>
    </ul>
</div>
<hr class="mt-0" />
<div class="form-container" data-aos="fade"
     data-aos-delay="50"
     data-aos-duration="500"
     data-aos-easing="ease-in-out">
    <form asp-action="edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="CustomerId" />
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="Gender" class="control-label"></label>
                            <select asp-for="Gender" class="form-control form-select">
                                <option value="">-- Select Gender --</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label asp-for="Address" class="control-label"></label>
                            <textarea asp-for="Address" class="form-control" rows="1"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group mb-4">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" rows="1"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-12">
                    <div class="mb-2">
                        <label asp-for="Avatar" class="control-label"></label>
                        <input type="file" asp-for="Avatar" name="photo" id="photo" class="form-control" value="~/@Model.Avatar" />
                        <span asp-validation-for="Avatar" class="text-danger"></span>
                    </div>
                </div>
                @if (Model.Avatar is null)
                {
                    <img src="~/images/uploads.svg" id="imagePreview" alt="Room Type Image" class="rounded-3 img-fluid" />
                }
                else
                {
                    <img src="~/@Model.Avatar" id="imagePreview" alt="Room Type Image" class="rounded-3 img-fluid" />
                }
            </div>

            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Save Change</button> |
                    <a asp-action="index" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>