<aside id="sidebar">
	<div class="brand">
		<a title="CG Hotel" href="#">
			<img src="" alt="">
			CG Hotel
		</a>
		<button class="btn_side_close">
			<i class='bx bx-plus'></i>
		</button>
	</div>
	<ul class="side-menu">
		<li><a href="/" class="active"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
		<li class="divider" data-text="main">Main</li>
		<li class="haschildren">
			@* data-badge="20" *@
			<a href="/reservation">
				<i class="fa-regular fa-address-book icon"></i>
				Reservations
			</a>
		</li>
		<li class="haschildren">
			<a href="#">
				<i class='bx bxs-door-open icon'></i>
				Rooms <i class='bx bx-chevron-right icon-right'></i>
			</a>
			<div class="side-dropdown">
				<ul>
					<li><a href="/room/create"><i class='bx bxs-plus-circle icon'></i> New Room</a></li>
					<li><a href="/room"><i class='bx bx-list-ol icon'></i> Room List</a></li>
					<li><a href="/roomtype"><i class='bx bxs-category-alt icon'></i> Room Type</a></li>
				</ul>
			</div>
		</li>
		<li>
			<a href="#">
				<i class="fa-solid fa-user-tie icon"></i>
				Employees <i class='bx bx-chevron-right icon-right'></i>
			</a>
			<div class="side-dropdown">
				<ul>
					<li><a href="/employee/create">
							<i class='bx bxs-user-plus icon'></i> New Employee
						</a>
					</li>
					<li><a href="/employee">
							<i class='bx bxs-user-detail icon'></i> Employee List
						</a>
					</li>
					<li class="haschildren">
						<a href="#">
							<i class="fa-solid fa-dice-d6 icon"></i>
							Departments<i class='bx bx-chevron-right icon-right'></i>
						</a>
						<div class="side-dropdown">
							<ul>
								<li><a href="/department/create">
									<i class='bx bxs-plus-circle icon'></i> New Department</a>
								</li>
								<li><a href="/department"><i class='bx bx-list-ul icon' ></i> Departments List</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</li>
		<li class="haschildren">
			<a href="#">
				<i class="fa-solid fa-users-gear icon"></i>
				Customers <i class='bx bx-chevron-right icon-right'></i>
			</a>
			<div class="side-dropdown">
				<ul>
					<li><a href="/customer/create"><i class='bx bxs-user-plus icon'></i> New Customer</a></li>
					<li><a href="/customer">
							<i class='bx bxs-user-detail icon'></i>
						Customers List</a></li>
				</ul>
			</div>
		</li>
		<li><a href="#"><i class='bx bxs-chart icon'></i> Charts</a></li>
		<li>
			<a href="#">
				<i class='bx bxs-widget icon'></i>
				Widgets 
				<i class='bx bx-chevron-right icon-right'></i>
			</a>
			<div class="side-dropdown">
				<ul>
					<li><a href="#">New Department</a></li>
					<li class="haschildren">
						<a href="#">
							<i class='bx bxs-inbox icon'></i>
							Departments List <i class='bx bx-chevron-right icon-right'></i>
						</a>
						<div class="side-dropdown">
							<ul>
								<li><a href="#">New Departments</a></li>
								<li><a href="/department">Departments List</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</li>
		<li class="divider" data-text="table and forms">Table and forms</li>
		<li><a href="#"><i class='bx bx-table icon'></i>Report</a></li>
		<li>
			<a href="#"><i class='bx bxs-notepad icon'></i> Forms <i class='bx bx-chevron-right icon-right'></i></a>
			<div class="side-dropdown">
				<ul>
					<li><a href="#">Basic</a></li>
					<li><a href="#">Select</a></li>
					<li><a href="#">Checkbox</a></li>
					<li><a href="#">Radio</a></li>
				</ul>
			</div>
		</li>
	</ul>
	<div class="ads">
		<div class="wrapper">
			<a href="#" class="btn-upgrade">Upgrade</a>
			<p>Become a <span>PRO</span> member and enjoy <span>All Features</span></p>
		</div>
	</div>
</aside>